.env

# everything in checkpoints folder
checkpoints/
# ignore any folder that contains checkpoint or output in its name
**/*checkpoint*/
**/*output*/
# ignore any .csv files
*.csv
# ignore any .json and .jsonl files
*.json
*.jsonl
# ignore any .env files
*.env

# add _pycache__ folders
**/__pycache__/
__pycache__/steam_api_scraper.cpython-313.pyc